html {
  margin: 0;
  text-align: center;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system,     /* OS X (10.11+), iOS (9+) */
              BlinkMacSystemFont, /* OS X, Chrome */
              "Segoe UI",         /* Windows */
              "Roboto",           /* Android4.0 or later */
              "Oxygen",           /* Linux, KDE */
              "Ubuntu",           /* Linux, Ubuntu */
              "Cantarell",        /* Linux, GNOME */
              "Fira Sans",        /* Firefox OS */
              "Droid Sans",       /* Android (until 3.2) */
              "Helvetica Neue",   /* OS X (10.9) */
              "sans-serif";       /* OS X, Windows */
}
